<% content_for(:title, '一覧検索') %>

<%= render 'search_form', q: @q, url: spots_path %>

<div class="w-5/6 mx-auto max-w-sm md:max-w-4xl min-h-screen flex flex-col">
    <div class="mt-10 mb-28 flex-1 overflow-y-auto">
      <% if @spots.present? %>
        <%= render @spots %>
      <% else %>
        <p>データがありません</p>
      <% end %>

      <%= paginate @spots %>
    </div>
</div>