<% content_for(:title, '一覧検索') %>

<%# spotデータ(一覧表示) %>
<div class="w-5/6 mx-auto max-w-sm md:max-w-4xl">
    <div class="mt-10 mb-28">
      <% if @spots.present? %>
        <%= render @spots %>
      <% else %>
        <p>データがありません</p>
      <% end %>
    </div>
</div>
