<div class="flex flex-col items-center justify-center h-screen bg-white">
  <div class="text-center mt-12">
    <h1 class="text-4xl font-bold text-gray-800">Architourism</h1>
    <h4 class="text-lg text-gray-600 mt-2">-文化財 建造物検索サービス-</h4>
  </div>

  <!-- 中央のピンアイコンと「マップ上で探す」 -->
  <div class="flex flex-col items-center justify-center mt-6">
    <%= link_to '#', class: 'flex flex-col items-center text-blue-500 hover:text-blue-700' do %>
      <!-- Heroicons の位置を示すピンアイコン -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-blue-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 2a7 7 0 00-7 7c0 4.28 5.05 9.2 6.52 9.91a1 1 0 001.04 0C13.95 18.2 19 13.28 19 9a7 7 0 00-7-7zm0 9.6c-1.6 0-3-1.6-3-3s1.4-3 3-3 3 1.6 3 3-1.4 3-3 3z" clip-rule="evenodd" />
      </svg>
      <p class="mt-2 text-gray-600">マップ上で探す</p>
    <% end %>
  </div>
</div>
