<div class="flex flex-col items-center justify-start pb-20 px-8 bg-teal-100 min-h-screen">
  <div class="bg-white mt-16 rounded-lg shadow-md w-full max-w-md px-10 py-8">
    <h1 class="text-2xl font-bold mb-4 text-gray-800 text-center">診断結果</h1>
    <p class="text-md mb-4 text-gray-600">
      <%= @ai_response %>
    </p>
    <%= link_to '戻る', suggestions_path, class: "bg-gray-300 hover:bg-gray-500 text-white py-2 px-4 rounded" %>
  </div>
</div>
